@import '../../styles/variables.scss';

.imprint {
    &__links {
        text-decoration: underline;
        text-decoration-color: red;

        &:hover {
            color: red;
            text-decoration: underline;
            text-decoration-color: red;
        }
    }
}